<div *ngIf="!bookedSlot">
    No appointments for today
</div>
<div *ngIf="bookedSlot">
    <div class="row">
        <div class="col-sm-4" *ngFor="let item of appointmentList">
            <div class="card">
                <div class="card-header">
                    {{item.patientName}}
                </div>
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p>{{item.patientEmail}}</p>
                        <p>{{item.patientmobile}}</p>
                        <footer class="blockquote-footer">{{item.bookedSlot | date}}</footer>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</div>